<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
        "-//Checkstyle//DTD Checkstyle Configuration 1.3//EN"
        "https://checkstyle.org/dtds/configuration_1_3.dtd">
<module name="Checker">
    <property name="charset" value="UTF-8"/>
    <property name="severity" value="error"/>
    <property name="fileExtensions" value="java"/>

    <module name="FileTabCharacter"/>
    <module name="NewlineAtEndOfFile">
        <property name="lineSeparator" value="lf"/>
    </module>
    <module name="LineLength">
        <property name="max" value="120"/>
        <property name="ignorePattern" value="^import |^package |https?://"/>
    </module>
    <module name="RegexpSingleline">
        <property name="format" value="\s+$"/>
        <property name="message" value="Trailing whitespace"/>
    </module>
    <module name="RegexpSingleline">
        <property name="format" value="//\s*[=\-*#~]{4,}"/>
        <property name="message" value="Banner comment"/>
    </module>
    <module name="RegexpSingleline">
        <property name="format" value="[\x{1F300}-\x{1FAFF}\x{2600}-\x{27BF}\x{2B50}\x{2705}]"/>
        <property name="message" value="Emoji in source"/>
    </module>
    <module name="RegexpSingleline">
        <property name="format" value="\bChatColor\b|§"/>
        <property name="message" value="Legacy colors, use MiniMessage"/>
    </module>
    <module name="RegexpSingleline">
        <property name="format" value="\.printStackTrace\(\)|System\.(out|err)\.print"/>
        <property name="message" value="Use the plugin logger"/>
    </module>

    <module name="TreeWalker">
        <module name="AvoidStarImport"/>
        <module name="UnusedImports"/>
        <module name="RedundantImport"/>
        <module name="IllegalImport"/>

        <module name="TodoComment">
            <property name="format" value="(TODO|FIXME|XXX)"/>
        </module>

        <module name="TypeName"/>
        <module name="MethodName"/>
        <module name="MemberName"/>
        <module name="ParameterName"/>
        <module name="LocalVariableName"/>
        <module name="ConstantName"/>
        <module name="PackageName">
            <property name="format" value="^[a-z]+(\.[a-z][a-z0-9]*)*$"/>
        </module>

        <module name="IllegalCatch">
            <property name="illegalClassNames" value="java.lang.Throwable, java.lang.Error"/>
        </module>
        <module name="EmptyCatchBlock">
            <property name="exceptionVariableName" value="ignored"/>
        </module>
        <module name="EqualsHashCode"/>
        <module name="MissingSwitchDefault"/>
        <module name="OneStatementPerLine"/>
        <module name="MultipleVariableDeclarations"/>
        <module name="SimplifyBooleanExpression"/>
        <module name="SimplifyBooleanReturn"/>
        <module name="StringLiteralEquality"/>
        <module name="NeedBraces"/>
        <module name="LeftCurly"/>
        <module name="RightCurly"/>
        <module name="ModifierOrder"/>
        <module name="RedundantModifier"/>
        <module name="UpperEll"/>
        <module name="ArrayTypeStyle"/>
        <module name="FinalClass"/>
        <module name="HideUtilityClassConstructor"/>
        <module name="MethodLength">
            <property name="max" value="60"/>
            <property name="countEmpty" value="false"/>
        </module>
        <module name="ParameterNumber">
            <property name="max" value="6"/>
        </module>
        <module name="NestedIfDepth">
            <property name="max" value="3"/>
        </module>

        <module name="RegexpSinglelineJava">
            <property name="format" value="@param\s+(\w+)\s+the\s+\1\s*\.?\s*$"/>
            <property name="message" value="Javadoc that repeats the parameter name"/>
        </module>
    </module>
</module>
